/* @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section,
body,
html {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.container {
  width: 1440px;
  height: 100%;
  display: inline-block;
}
.login_area {
  width: 400px;
  background-color: #2f80ed;
  /* height: 100%; */
  height: 900px;
  text-align: center;
  display: inline-block;
}
.simple_analytics {
  padding-top: 70px;
}
.logo {
  display: inline-block;
}
.header {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  margin-left: 10px;
}
.acc {
  margin-top: 150px;
}
.acc > div button {
  min-width: 300px;
  background-color: #333333;
  padding: 10px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 22px;
  color: #ffffff;
  border: none;
  font-weight: 700;
}
.analytics_text {
  width: 560px;
  font-size: 36px;
  color: #4f4f4f;
  margin-left: 500px;
  margin-top: 70.5px;
}
.analytics_wrap {
  display: inline-block;
  width: calc(100% - 405px);
  vertical-align: top;
}
.data_text {
  width: 560px;
  font-size: 36px;
  color: #4f4f4f;
  margin-left: 70px;
}

#dashboard {
  cursor: default;
}

#dashboard:hover {
  cursor: pointer;
}

.dash {
  display: inline-block;
}

.set {
  display: inline-block;
}

.navigation {
  font-family: "poppins";
}
.navigation .settings button {
  background-color: #2f80ed;
  min-width: 10px;
  font-family: "poppins";
  margin-right: 35px;
}

.navigation .dashboard button {
  background-color: #2f80ed;
  min-width: 110px;
  font-family: "poppins";
}

.out_icon {
  display: inline-block;
}
.out_button {
  display: inline-block;
}
.navigation .out_button button {
  background-color: #2f80ed;
  min-width: 100px;
  margin-top: calc(400px);
  margin-right: 50px;
}
#logout {
  cursor: default;
}

#logout:hover {
  cursor: pointer;
}

#settings {
  cursor: default;
}

#settings:hover {
  cursor: pointer;
}
.right_section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 820px;
}
.analytics_wrap .dash_wrap {
  max-width: 100%;
}
.dash_head {
  width: 100%;
}
.views_head {
  width: 100%;
}
.views {
  display: flex;
  justify-content: space-between;
  margin-right: ;
}
.day {
  width: 243px;
  height: 150px;
  display: inline-block;
  background-color: #333333;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
}

.week {
  width: 227px;
  height: 150px;
  display: inline-block;
  background-color: #333333;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
}

.month {
  width: 227px;
  height: 150px;
  display: inline-block;
  background-color: #333333;
  text-align: center;
  color: #ffffff;
  border-radius: 25px;
}
